<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="public\images\diary logo.jpg" type="image/x-icon">
  <link rel="shortcut icon" href="images/diary.png" type="image/x-icon">
  <!-- local css -->
  <link rel="stylesheet" href="css/stylesheet.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Your Diary</title>
</head>
<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/diary">Diary</a>
  <a href="/register">Register</a>
  <a href="/login">Login</a>
</div>
<body>

  
    