<%- include('partials/header') %>
    <div class="jumbotron-container">
        <img src="images/dry.jpg" class="right" alt="images/dry.jpg" height="400" width="700">
        <div class="left">
            <h1>Hi Welcome to your favorite Diary</h1>
            <p>It is said that pages have more patience than people. Some of us have a tough time navigating through our society when one cannot express himself/herself correctly because they fear judgement. Maintaining a diary of your everyday events can help a lot with this struggle. It unburdens our heart.
                But handwritten diaries have become obsolete. They can be accessed by anyone. They have no security layer which prevents another person from accessing one’s personal record.So here the E-diary comes to rescue. It is highly secure and safe diary which can be accessed by only you. It does the same job as your normal diary but provides you with a layer of security. 
                Also, it is absolutely free to use. So, anyone can use this application to unburden himself/herself.
                </p>
        </div>
    </div>
    <hr>
    <div class="features">
        <h1><u>Features</u></h1>
        <div class="features-list">
            <div class="odd-float">
                <img src="images/security.jpg" width="200" height="150"  alt="">
                <h2>SECURITY</h2>
                <p align="justify">This diary is protected with two layers of security. No one other than you can read our perform any operation on your record. Just remember your password and sleep well knowing that no one other than you can read your diary</p>
            </div>
            <div class="even-float">
                <img src="images/joke.jpg" width="200" height="150"  alt="">
                <h2>JOKE</h2>
                <p align="justify">It has get-a-joke button. Whenever you feel sad or want to take a break press that button and get a new hilarious joke everytime. But remember this is going to be very addictive 😃.</p>
            </div>
            <div class="odd-float">
                <img src="images/easy.jpg" width="200" height="150" alt="">
                <h2>EASY TO USE</h2>
                <p align="justify">It is very easy to use normal. Whether you want to add new diary entry or get-a-joke simple buttons are provided for your convenience. And you can get back where you where even if you accidently close your tab.</p>
            </div>
            <div class="even-float">
                <img src="images/friend.jpg" width="200" height="150"  alt="">
                <h2>LIKE A FRIEND</h2>
                <p align="justify">It is like your friend. It listens to you without judgement and uplifts you when you are feeling a bit gloomy. You can enter as many entries as you want. With its simplistic GUI you can be sure to find any entry that you entered even months back.</p>
            </div>
        </div>
    </div>
    <hr>
<%- include('partials/footer') %>